html, body{
    font-size:100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
.scroll-to-top {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}